:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --article-font-family: var(--base-font-family);
    --code-font-family: Menlo, Monaco, Consolas, "Courier New", var(--zh-font-family), monospace;

    --main-top-padding: 18px;
    --section-separation: 20px;
    --widget-separation: 36px;

    --menu-icon-separation: 16px;
    --tag-border-radius: 3px;
    --card-padding: 18px;
    --card-border-radius: 4px;

    --body-background: #f5f5fa;
    --accent-color: #34495e;
    --accent-color-darker: #2c3e50;
    --accent-color-text: #fff;
    --body-text-color: #505050;
    --scrollbar-thumb: hsl(0, 0%, 40%);
    --scrollbar-track: var(--body-background);

    --card-background: #fff;
    --card-background-selected: #eaeaea;
    --card-text-color-main: #000;
    --card-text-color-secondary: #707070;
    --card-text-color-tertiary: #747474;
    --card-separator-color: rgba(218, 218, 218, 0.5);
}

:root[data-scheme=dark] {
    --body-background: #252525;
    --accent-color: #ecf0f1;
    --accent-color-darker: #bdc3c7;
    --accent-color-text: #000;
    --body-text-color: rgba(255, 255, 255, 0.7);
    --scrollbar-thumb: hsl(0, 0%, 40%);
    --scrollbar-track: var(--body-background);

    --card-background: #383838;
    --card-background-selected: rgba(255, 255, 255, 0.16);
    --card-text-color-main: rgba(255, 255, 255, 0.9);
    --card-text-color-secondary: rgba(255, 255, 255, 0.7);
    --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
    --card-separator-color: rgba(255, 255, 255, 0.12);
}

#main-menu {
    gap: 18px;
}

.sidebar header .site-description {
    line-height: 20px;
    letter-spacing: 0.6px;
}

.left-sidebar {
    --emoji-size: 28px;
    --emoji-font-size: 18px;
}

.article-details {
    gap: 12px;
}

.article-title-wrapper {
    gap: 6px;
}

.article-title {
    font-size: 1.9rem;
}

.article-subtitle {
    font-size: 1.7rem;
}

.article-category, .article-tags {
    gap: 6px;
}

.article-category a, .article-tags a {
    padding: 4px 8px;
    font-size: 1.2rem;
}

.tagCloud .tagCloud-tags {
    gap: 6px;
}

.tagCloud .tagCloud-tags a {
    padding: 6px 10px;
    font-size: 1.3rem;
}

.section-title {
    font-size: 1.5rem;
}

.widget {
    gap: 2px;
}

.widget .widget-title-container {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    margin-bottom: 4px;
}

.widget .section-title {
    margin-bottom: 4px;
}

.widget .widget-icon svg {
    width: 22px;
    height: 22px;
}

.widget.archives .archives-year a {
    padding: 16px 18px;
}
.widget.archives .archives-year a span.year {
    font-weight: 500;
}

footer.site-footer:before {
    width: 120px;
    height: 1.6px;
    background: var(--card-text-color-tertiary);
    opacity: 0.75;
}

footer.site-footer {
    padding: 8px 0 16px;
}

footer.site-footer .copyright {
    margin-bottom: 0px;
}

footer.site-footer .copyright {
    color: var(--card-text-color-tertiary);
    font-weight: 500;
    letter-spacing: 1px;
}